
html,body {
    margin: 0px;
    padding: 10px;
    font-size: 115%
}

h3, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.inset {
    margin-left: 40px;
    padding-left: 5px;
}


.text-box {
    border-style: none none none solid;
    border-color: lightgray;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-left: 40px;
    padding-left: 5px;
    margin-right: 40px;
    padding-right: 5px;
}

.h2-dropcap {
    color: #903;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    line-height: 30px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.quicklinks {
    text-align: justify;
    font-variant: small-caps;
}

.faq {
    font-weight: bold;
    font-size: 125%;
}

.def {
    font-weight: bold;
}
